{% extends 'website/base.html' %}
{% load static %}
{% block content %}
    <br>
    <div class="text-center">
        <h3> Welcome to my Games Page </h3>
        <hr>

        <div class="card" style="width: 18rem;">
            <img src="{% static 'images/liam.png' %}" alt="im behind you">
            <div class="card-body">
              <h5 class="card-title">Slippery Slope</h5>
              <p class="card-text">Liams new game called " Life is a Slipper Slope coming out 2082</p>
              <a href="#" class="btn btn-primary">Find out More</a>
            </div>
          </div>

        


    </div>
{% endblock %}